<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Socket Test</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    <h1>Socket.IO Test</h1>
    <script>
        const socket = io('http://localhost:3001');

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });

        var user_data = { "user_id": 1 };
        socket.emit('user_chat', user_data);

        socket.on('new_message', (data) => {
            console.log('New message:', data);
        });
    </script>
</body>

</html>